/* type selectors */
html {
	background-image: linear-gradient(to bottom, rgba(239, 244, 245, 0.947) 0%, #050980 100%);
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 96%;                        
	max-width: 1200px;                
	background-color: white;
	margin: 15px auto;
	padding: 15px 0;
	border: 1px solid rgb(21, 6, 90);
}
section, aside, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
section, aside {
	margin-bottom: 1em;
}
p {
	font-size: .875em;                  
	padding-bottom: .5em;
	line-height: 130%;
}
em {
	font-weight: bold;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link, a:visited {
	color: #380e7c !important;
}
a:hover, a:focus {
	color: rgb(126, 25, 203) !important;
}

header {
	width: 100%;                       
	padding-bottom: 2em;
}

header img {
	width: 100%;                    
}

#nav_menu ul {
	width: 125%;                
	list-style-type: none;
	position: relative;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
	position: relative;
}
*#nav_menu ul ul li ul {
	position: absolute;
	left: 100%;
	top: 0;
}
#nav_menu ul li.lastitem ul li ul {
	position: absolute;
	left: -100%;
	top: 0;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}

#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	width: 20%;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: .7em 0;
	background-color: #c8e9f9;
}
#nav_menu ul li:hover ul {
	width: 100%;
}
#nav_menu ul li:hover ul li:hover ul li {
	width: 100%;
}


section {
	width: 45%;                       
	float: left;
	margin-left: 2%;                    
	padding: 1.5em 3% 0 0;             
}
section ul {
	margin-top: 0;
	margin-bottom: 1.5em;
}
section li {
	padding-bottom: .35em;
}
section h1 {
	font-size: 1.625em;                     
	margin-bottom: .35em;
}

Section img {
    width: 100%;
	padding-top: 7em;
}

aside {
	width: 40%;                       
	float: right;
	padding: 2% 2%;                       
	margin: 1.5em 2% 0 0;              
}
aside h2 {
	font-size: 1.25em;                      
	padding-bottom: .5em;
}
aside h3 {
	font-size: 1em;                         
	color: #5b17a3;
	padding-bottom: .5em;
}
aside p {
	margin-bottom: .5em;
}
aside img {
	width: 40%;
	padding-bottom: 1em;
}

footer {
	clear: both;
	width: 100%;                            
	border-top: 2px solid #0c096b;
	padding-top: .7em;
    padding-left: 15px;
}

footer h2{
	padding-bottom: .5em;
}

label {
    float:left;
    width: 10em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-bottom: 0.5em;
    background-color: rgb(230, 231, 243);
}
textarea {
    background-color: rgb(230, 231, 243);
    margin-left: 1em;
    height: 5em;
    width: 30em
   
}
#submit {
	margin-left: 13em;
}